<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HELLO</title>
</head>
<body>
  <h1>My Favorite</h1>
  <h2>Programming</h2>
  <ul>
    <% for (let p of programming) { %>
    <li><%= p.name %></li>
    <% } %>
  </ul>
  <h2>Foods</h2>
  <ul>
    <%- include("./components/list.ejs", foods) %>
  </ul>
  <h2>Animals</h2>
  <ul>
    <% for (let animal of animals) { %>
    <li><%= animal.name %></li>
    <% } %>
  </ul>
</body>
</html>
